/*
body {
     .MM {
         width: 100px;
         height: 100px;
         transform: translate(100px, 100px)
     }
 }
*/

@font-face {
    font-family: "iconfont";
    /* Project id 3446379 */
    src: url('./font/iconfont.woff2?t=1664439966887') format('woff2'),
        url('./font/iconfont.woff?t=1664439966887') format('woff'),
        url('./font/iconfont.ttf?t=1664439966887') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
    content: "\e600";
}

.icon-htmal5icon29:before {
    content: "\e641";
}

.icon-yijianfankui:before {
    content: "\e662";
}

.icon-weixin:before {
    content: "\e66f";
}

.icon-wode:before {
    content: "\e658";
}

.icon-xingxing:before {
    content: "\e642";
}

.icon-youjiantou:before {
    content: "\e601";
}

.icon-jiantoushang:before {
    content: "\e62d";
}

.icon-QQ:before {
    content: "\e882";
}

.icon-weibo:before {
    content: "\e8bb";
}

.icon-weixin1:before {
    content: "\e603";
}

.icon-bangzhuzhongxin:before {
    content: "\e605";
}

.icon-sousuo:before {
    content: "\eafe";
}